 <nav class="navbar navbar-default" role="navigation">
            <div class="collapse navbar-collapse" style="direction:rtl;float:right">
                <ul class="nav navbar-nav">
                   <li><a id="myAccount" href="#" data-toggle="tab" ng-click="switch($event)">חשבון שלי</a></li>
                    <li><a id="myShipping" href="#" data-toggle="tab" ng-click="switch($event)">משלוחים שלי</a></li>
                    <li class="active">
                        <a id="rfs" href="#askForShipping" data-toggle="tab" ng-click="switch($event)">
                            לבקש
                            הצעת מחיר למשלוח
                        </a>
                    </li>
                    <li><a id="areaOfInterest" href="#interest" data-toggle="tab" ng-click="switch($event)">להגדיר תחומי עניין כספק  </a></li>
                    <li><a id="givePrice" href="#givePrice" data-toggle="tab" ng-click="switch($event)">לתת הצעת מחיר כשליח</a></li>
                    <li><a id="subscribe" href="#subscribeAsSender" data-toggle="tab" ng-click="switch($event)">להרשם כשליח</a></li>
                  
                </ul>
            </div>
            </nav>